.home-link {
  text-decoration: none;
}

.title {
  font-family: "Dancing Script", cursive;
  color: #000;
  font-weight: 200;
  font-size: 8rem;
  margin-bottom: 100px;
}

span {
  font-size: 36px;
  padding-left: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url(kyles_background.jpg); */
  background: linear-gradient(105deg, #0111ff 25%, #fff 25%);
}

.home-link-item {
  margin: 25px;
  padding: 10px 30px;
  font-weight: 100;
  font-size: 5rem;
  letter-spacing: 3px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  color: white;
  background: linear-gradient(to left, #0111ff 50%, #333 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
  /* box-shadow: -5px 5px 1px rgba(0, 0, 0, 0.3); */
}

.home-link-item:hover {
  cursor: pointer;
  background-position: left;
}

@media only screen and (max-width: 1600px) {
  .title {
    font-size: 6rem;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 1000px) {
  .title {
    font-size: 5rem;
  }

  .home-link-item {
    width: 300px;
    font-size: 4rem;
  }
}

@media only screen and (max-width: 800px) {
  .title {
    font-size: 4rem;
  }

  .home-link-item {
    width: 275px;
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 650px) {
  .title {
    font-size: 3rem;
    padding: 3px;
  }

  .home-link-item {
    width: 225px;
    font-size: 3rem;
  }
}
