@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4eadfa;
  color: #fff;
  max-width: 100vw;
  font-family: "Rajdhani", sans-serif;
}

.messages-container {
  width: 100%;
}

.messages-header {
  font-family: "Rajdhani", sans-serif;
  text-align: left;
  padding-left: 12.5%;
  font-size: 4rem;
}
.message-table {
  display: flex; 
  flex-direction: column;
}
.message {
  margin: auto;
  display: flex;
  border: #333 solid 1px;
  height: 1.5rem;
  width: 75%
}


.email {
  text-align: left;
  width: 20%;
  font-weight: 700;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.subject {
  text-align: left;
  font-weight: 700;
  width: 80%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.header-links {
  display: flex;
}

.header-item {
  padding: 0 1rem;
}

.link {
  color: #fff;
  text-decoration: none;
  border-left: 1px solid #fff;
}

.link:hover {
  background-color: #fff;
  color: #333;
}


@media only screen and (max-width: 1250px) {
  .message-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .message-container {
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .header h1 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .message-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .product-form {
    width: 80vw;
  }
}
