@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: -webkit-linear-gradient(
    rgba(29, 38, 113, 0.7),
    rgba(195, 55, 100, 0.7)
  );
  color: #fff;
  max-width: 100vw;
  font-family: "Rajdhani", sans-serif;
}

.messages-container {
  width: 100%;
}

.messages-header {
  font-family: "Rajdhani", sans-serif;
  text-align: left;
  padding-left: 12.5%;
  font-size: 4rem;
}
.message-table {
  display: flex; 
  flex-direction: column;
  margin-bottom: 100px;
}
.message {
  margin: auto;
  display: flex;
  border: #333 solid 1px;
  height: 1.5rem;
  width: 75%;
  cursor: pointer;
}
.selected {
  background: -webkit-linear-gradient(
      rgba(29, 38, 113, 0.7),
      rgba(195, 55, 100, 0.7)
    );
}

.email {
  text-align: left;
  width: 20%;
  font-weight: 700;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  padding-left: 5px;

}
.subject {
  text-align: left;
  font-weight: 700;
  width: 70%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}
.datetime {
  text-align: right;
  width: 10%;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

.show-message {
  margin-left: 12.5%;
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  border: #333 1px solid;
  font-family: 'Roboto', sans-serif;

}
.show-message div {
  width: 100%;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}
.message-subject {
  height: 20%;
  margin-bottom: 40px;
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 1000;
}
.message-time {
  font-size: 1.3rem;
}
.message-sender {
  height: 20%;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: underline;
}

.message-content {
  height: 60%;
  font-size: 1.5rem;
  padding-bottom: 40px;
}

.header-links {
  display: flex;
}

.header-item {
  padding: 0 1rem;
}

.link {
  color: #fff;
  text-decoration: none;
  border-left: 1px solid #fff;
}

.link:hover {
  background-color: #fff;
  color: #333;
}


@media only screen and (max-width: 1250px) {
  .message-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media only screen and (max-width: 700px) {
  .header h1 {
    font-size: 18px;
  }
}

  .product-form {
    width: 80vw;
  }
