.login-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 40vw;
  margin: 0 auto;
  align-items: center;
  border: 1px solid #333;
  border-radius: 25px;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

.input {
  margin: 2rem 1rem;
  width: 60%;
}

h1 {
  margin: 30px auto;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .login-form {
    width: 80vw;
  }
}
