@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.show-product-card {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 350px;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1000;
  background-color: #fff;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #222;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

.close-icon {
  margin-left: 90%;
  font-size: 1.3rem;
  cursor: pointer;
}
.show-product-header {
  font-family: "Dancing Script", cursive;
  color: #4eadfa;
}

.size-selectors {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 75%;
}

.select-option {
  border: 1px solid #fff;
  background-color: #333;
  color: #fff;
  width: 100%;
  margin: 1rem;
  cursor: pointer;
}

.selected {
  background-color: #fff;
  color: #000;
}

.show-product-image {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #000;
  align-items: center;
  font-family: "Dancing Script", cursive;
  color: #4eadfa;
}

.show-product-image img {
  width: 100%;
  padding: 2rem;
}

.show-product-info {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
}

@media only screen and (max-width: 1000px) {
  .show-product-card {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    /* width: 70%; */
  }

  .show-product-image {
    width: 100%;
  }

  .show-product-image img {
    width: 100%;
    padding: 0.5rem;
  }

  .show-product-info {
    width: 100%;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .show-product-header {
    font-size: 28px;
  }
  .show-product-info {
    height: 60%;
    padding: 0 0.5rem;
  }
  .select-option {
    font-size: 18px;
    margin: 0 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .show-product-card {
    height: 90vh;
    width: 70vw;
  }

  /* .show-product-info {
    height: 70%;
  } */
  .select-option {
    font-size: 14px;
  }
}
