<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KsullyPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name=description content="Kyle Sullivan's photography store that allows users to purchase beautiful photos">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
